COMPOSE_PROJECT_NAME=gobao

MYSQL_USER_PORT=3307
MYSQL_PRODUCT_PORT=3308
MYSQL_ORDER_PORT=3309
MYSQL_PAYMENT_PORT=3310
MYSQL_GATEWAY_PORT=3311
MYSQL_ADMIN_PORT=3312

REDIS_PORT=6379
NATS_PORT=4222
NATS_MONITOR_PORT=8222
PROMETHEUS_PORT=9090

USER_HTTP_PORT=18001
USER_GRPC_PORT=19001
ADMIN_HTTP_PORT=18005
ADMIN_GRPC_PORT=19005
PRODUCT_HTTP_PORT=18002
PRODUCT_GRPC_PORT=19002
ORDER_HTTP_PORT=18003
PAYMENT_HTTP_PORT=18004
GATEWAY_HTTP_PORT=18000

WEB_PORT=5173
ADMIN_WEB_PORT=5174

USER_AVATAR_ROOT=/data/gobao/user-avatars
USER_AVATAR_BASE_URL=/avatars
PRODUCT_MEDIA_ROOT=/data/gobao/product-media
PRODUCT_MEDIA_BASE_URL=/media
GATEWAY_EXPOSE_DEV_ENDPOINTS=false
